# Python
__pycache__/
*.py[cod]

# Virtual env
venv/
.env/
.venv_l1/

# Secrets
.env
.env.*

# DB
db.sqlite3

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Django
staticfiles/
media/

# Testing
.pytest_cache/
.coverage
